*[data-popup] > .content:not([data-role="none"])
  width: 350px
  left: calc(50% - 150px)

.com-addon
  padding 0
  margin 0

  select
    border: 0
    background: none
  
    :active
      border: none
      box-shadow: none
    
    :active:focus
      border: none
      box-shadow: none
    
    :focus
      border: none
      box-shadow: none