.contacts-form-section
  margin-top:  60px

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
  -webkit-box-shadow: 0 0 0 30px white inset;

.saving-status-section
  margin-bottom: 10px

.profile-image
  height: 100px